:root {
  --smoky-black: hsla(41, 100%, 3%, 1);
  --yellow-green: hsla(88, 60%, 50%, 1);
  --nyanza: hsla(77, 100%, 89%, 1);
  --ash-gray: hsla(167, 27%, 72%, 1);
  --drab-dark-brown: hsla(45, 31%, 18%, 1);

  ff-text: 'Inter', sans-serif;
  ff-main: 'Six Caps', sans-serif;
  
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, canvas, picture, svg {
  display: block;
  max-width: 100%;
}
input, button, select, textarea {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* general styling */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* page layout */

/* header styles */

/* main styles */

/* footer styles */