:root {
  --platinum: hsla(0, 0%, 91%, 1);
  --silver: hsla(0, 0%, 75%, 1);
  --taupe-gray: hsla(263, 4%, 59%, 1);
  --english-violet: hsla(300, 13%, 30%, 1);
  --coral: hsla(19, 97%, 64%, 1);

  ff-text: 'Inter', sans-serif;
  ff-main: 'Six Caps', sans-serif;

}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, canvas, picture, svg, iframe {
  display: block;
  max-width: 100%;
}
input, button, select, textarea {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* general styling */
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* page layout */

.container {
  width: 90%;
  max-width: 1100px;
  margin-inline: auto;
}

/* header styles */
header {
  background-color: var(--english-violet);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em 0;
}
.flex {
  display: flex;
  justify-content: center;
  gap: 2em;

}
.nav-link {
  color: var(--platinum);
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}
.nav-link:hover {
  border-bottom: 2px solid var(--platinum);
}
/* main styles */
